
  <h1>Аналитическая БД</h1>
<!--<%= render "kaminari/main_text" %> -->
<!--<%= link_to "Сводная по ОКПД 2", "reports/okpd_group"%>-->

<div>
  <button type="button" class="btn btn-primary ms-3"><%= link_to "Продуктовые направления", product_direction_temps_path , class: "text-white"%></button>
</div>