<h1>Навигация по ОКПД-2</h1>
<div id="navigation">
  <h2>Список ОКПД-2 6-го уровня</h2>
  <ul id="okpd6-list">
    <% @okpd6_list.each do |code| %>
      <li>
        <%= link_to ("<b>#{code.okpd_6}</b> — #{code.trans_6}").html_safe, "#", class: "okpd6-link mt-5", data: { code: code.okpd_6 } %>
        <ul class="okpd9-list okpd9-<%= code.okpd_6.delete('.') %>" style="display: none;">
          <% @okpd9_data[code.okpd_6].each do |okpd| %>
            <li><%= link_to ("<b>#{okpd.okpd_9}</b> — #{okpd.trans_9}").html_safe, all_graph_temps_path(okpd: okpd.okpd_9)  %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<script>
  $(document).on('click', '.okpd6-link', function(e) {
    e.preventDefault(); // Отменяем действие по умолчанию (переход по ссылке)
    var okpd6Code = $(this).data('code');
    //$(".okpd9-list").hide(); // Скрываем все списки ОКПД-2 девятого уровня
    $(".okpd9-" + okpd6Code.replace(/\./g, '')).toggle();
    console.log(".okpd9-" + okpd6Code.replace(/\./g, '')); // Показываем только список соответствующий коду ОКПД-2 шестого уровня
  });
</script>
